* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  background-image: linear-gradient(#393e46, #222831);
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* REUSABLE */
article {
  padding: 80px 0;
}

.flex {
  display: flex;
}

.wrap-evenly {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

hr {
  display: block;
  width: 80px;
  margin: 0 auto;
  color: #393e46;
  border: dotted 8px;
  border-bottom: none;
}

i {
  font-size: 4em;
  color: #ffd369;
}

/* HEADINGS */
h1 {
  color: #eee;
  font-size: 2em;
  font-family: 'Merriweather', 'Arial', 'sans-serif';
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  color: #eee;
  font-size: 1.5em;
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 1.2em;
  }
}

.article-title {
  color: #eee;
  font-size: 2em;
  font-family: 'Merriweather', 'Arial', 'sans-serif';
  text-align: center;
  padding-bottom: 30px;
}

@media only screen and (max-width: 700px) {
  .article-title {
    font-size: 2em;
  }
}

/* HERO */
.hero {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.3), black), url("/img/flyingtoasters.gif");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
}

.hero__text-box {
  padding: 80px 10%;
}

.hero__title {
  animation: moveInRight 1s ease-out;
}

.hero__subtitle {
  line-height: 1.5em;
  animation: moveInBottom 1.5s ease-out;
}

.main-nav {
  background: rgba(0, 0, 0, 0.3);
}

.main-nav__link-box {
  display: flex;
  position: fixed;
  padding: 12px 4%;
  right: 0;
  justify-content: space-evenly;
  list-style: none;
  width: 100vw;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.main-nav__link {
  margin: 0 15px;
}

.main-nav__link:link, .main-nav__link:visited {
  color: #ffd369;
  text-decoration: none;
  border-bottom: 2px dotted transparent;
  transition: border-bottom 0.3s;
}

.main-nav__link:hover, .main-nav__link:active {
  border-bottom: 2px solid #eee;
}

/* ABOUT */
.about__bio {
  padding: 0 10px;
  align-items: center;
}

.about__bio-text {
  color: #eee;
  display: inline-block;
  margin-bottom: 30px;
  width: 500px;
  line-height: 1.5em;
}

.about__bio-picture {
  height: 50vh;
  border-radius: 50%;
}

/* SKILLS */
.icon-item {
  margin: 10px;
  text-align: center;
}

.icon-item p {
  color: #eee;
  margin-top: 5px;
}

/* PROJECTS */
.project-item {
  background-color: #393e46;
  padding: 25px 25px;
  margin: 25px;
  box-shadow: 0px 5px #ffd369;
  border-radius: 3%;
}

.project-item h2 {
  color: #eee;
  text-align: center;
  margin-bottom: 5px;
}

.project-item h3 {
  color: #eee;
  text-align: center;
  margin-top: 12px;
}

.project-item p {
  color: #eee;
  margin: 5px auto;
  width: 300px;
}

.project-item img {
  width: 300px;
}

.project-item h3 + p {
  text-align: center;
}

.project-icons {
  margin-top: 15px;
  text-align: center;
}

.project-icons a {
  margin: 0 10px;
}

.project-icons a i:hover,
.project-icons a i:active {
  color: #eee;
}

.fa-js {
  color: #f0db4f;
}

.fa-react {
  color: #61dbfb;
}

.fa-gem {
  color: #b02b2c;
}

.fa-bootstrap {
  color: #553c7b;
}

.fa-html5 {
  color: #e34f26;
}

.fa-css3 {
  color: #264de4;
}

/* CONTACT */
.contact a {
  margin: 10px;
}

.contact a:link,
.contact a:visited {
  backface-visibility: hidden;
  transition: all 0.2s;
}

.contact a:hover,
.contact a:active {
  transform: translateY(4px);
}

/* FOOTER */
footer {
  background-color: #ffd369;
  color: #222831;
  text-align: center;
}

/* ANIMATION */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  75% {
    opacity: 0.2;
  }
  100% {
    opacity: 100;
    transform: translate(0);
  }
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */