$primary-light: #393e46;
$primary-dark: #222831;
$white: #eee;
$yellow: #ffd369;

$fs-base: 1rem;
$fs-mobile: .95rem;
$fs-h1: 5rem;
$fs-h2: 4rem;

$courier: 'Courier', serif;
$verdana: 'Verdana', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  font-family: $verdana;
  font-weight: 300;
  font-size: $fs-base;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;

  @media only screen and (max-width: 500px) {
    font-size: $fs-mobile;
  }
}

main {
  background-image: linear-gradient($primary-light, $primary-dark);
}
