@import 'base';

/* REUSABLE */

article {
  padding: 80px 0;
}

.flex {
  display: flex;
}

.wrap-evenly {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

hr {
  display: block;
  width: 80px;
  margin: 0 auto;
  color: $primary-light;
  border: dotted 8px;
  border-bottom: none;
}

i {
  font-size: 4em;
  color: $yellow;
}

/* HEADINGS */

// h1 {
//   color: $white;
//   font-size: 2em;
//   font-family: 'Merriweather', 'Arial', 'sans-serif';

//   @media only screen and (max-width: 700px) {
//     font-size: 2em;
//   }
// }

// h2 {
//   color: $white;
//   font-size: 1.5em;

//   @media only screen and (max-width: 700px) {
//     font-size: 1.2em;
//   }
// }

.article-heading {
  color: $white;
  font-size: 2em;
  font-family: 'Merriweather', 'Arial', 'sans-serif';
  text-align: center;
  padding-bottom: 30px;

  @media only screen and (max-width: 700px) {
    font-size: 2em;
  }
}

/* HERO */

.hero {
  background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 1)
    ),
    url('/img/flyingtoasters.gif');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;

  &__text-box {
    padding: 80px 10%;
    @media only screen and (max-width: 700px) {
      padding: 80px 10%;
    }
  }

  &__title {
    color: $white;
    font-size: 3em;
    font-family: 'Merriweather', 'Arial', 'sans-serif';
  
    @media only screen and (max-width: 700px) {
      font-size: 2em;
    }
    animation: moveInRight 1s ease-out;
  }

  &__subtitle {
    color: $white;
    font-size: 1.5em;
    line-height: 1.5em;
    @media only screen and (max-width: 700px) {
      font-size: 1.2em;
    }
    animation: moveInBottom 1.5s ease-out;
  }
}

.main-nav {
  background: rgba(0, 0, 0, 0.3);

  &__link-box {
  display: flex;  
  position: fixed;
  padding: 12px 4%;
  right: 0;
  justify-content: space-evenly;
  list-style: none;
  width: 100vw;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  }

  &__link {
    margin: 0 15px;
  }

  &__link:link,
  &__link:visited {
    color: $yellow;
    text-decoration: none;
    border-bottom: 2px dotted transparent;
    transition: border-bottom 0.3s;
}

  &__link:hover,
  &__link:active {
    border-bottom: 2px solid $white;
  }
}


/* ABOUT */

.about {
  padding: 0 10px;
  align-items: center;

  &__text {
    color: $white;
    display: inline-block;
    margin-bottom: 30px;
    width: 500px;
    line-height: 1.5em;
  }
  
  &__picture {
    height: 50vh;
    border-radius: 50%;
    margin: 1rem 2rem;
    }
}

/* SKILLS */
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 2rem; 

  @media only screen and (min-width: 700px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  &__item {
    text-align: center;
  }

  &__icon{
    margin: 10px;
  }

  &__name {
    color: $white;
    margin-top: 5px;
  }
}

/* PROJECTS */

.project-item {
  background-color: $primary-light;
  padding: 25px 25px;
  margin: 25px;
  box-shadow: 0px 5px $yellow;
  border-radius: 3%;
}

.project-item h2 {
  color: $white;
  text-align: center;
  margin-bottom: 5px;
}

.project-item h3 {
  color: $white;
  text-align: center;
  margin-top: 12px;
}

.project-item p {
  color: $white;
  margin: 5px auto;
  width: 300px;
}

.project-item img {
  width: 300px;
}

.project-item h3 + p {
  text-align: center;
}

.project-icons {
  margin-top: 15px;
  text-align: center;
}

.project-icons a {
  margin: 0 10px;
}

.project-icons a i:hover,
.project-icons a i:active {
  color: $white;
}

.fa-js {
  color: #f0db4f;
}

.fa-react {
  color: #61dbfb;
}

.fa-gem {
  color: #b02b2c;
}

.fa-bootstrap {
  color: #553c7b;
}

.fa-html5 {
  color: #e34f26;
}

.fa-css3 {
  color: #264de4;
}

/* CONTACT */

.contact a {
  margin: 10px;
}

.contact a:link,
.contact a:visited {
  backface-visibility: hidden;
  transition: all 0.2s;
}

.contact a:hover,
.contact a:active {
  transform: translateY(4px);
}

/* FOOTER */

footer {
  background-color: $yellow;
  color: #222831;
  text-align: center;
}

/* ANIMATION */

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  75% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  75% {
    opacity: 0.2;
  }

  100% {
    opacity: 100;
    transform: translate(0);
  }
}

@media only screen and (max-width: 700px) {
  body {
    font-size: 18px;
  }
  // h1 {
  //   font-size: 2em;
  // }
  // h2 {
  //   font-size: 1.2em;
  // }
  // .hero-text-box {
  //   padding: 70px 10%;
  // }
  // .skills i {
  //   font-size: 5em;
  // }
}

// @media only screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
//   header {
//     background-attachment: fixed;
//   }
// }

// @media screen and(-webkit-min-device-pixel-ratio:0) {
//   header {
//     -chrome-: only(; background-attachment: fixed;);
//   }
// }
