@import 'base';

/* REUSABLE */

section {
  padding: 5rem 0;
}

hr {
  display: block;
  width: 7rem;
  margin: 0 auto;
  color: $primary-light;
  border: dotted .5rem;
  border-bottom: none;
}

i {
  font-size: 4em;
  color: $yellow;
}

.section-heading {
  color: $white;
  font-size: $fs-h2;
  font-family: 'Courier', 'Arial', 'sans-serif';
  font-weight: 300;
  text-align: center;
  padding-bottom: 3rem;

  @media only screen and (max-width: 500px) {
    font-size: 3rem;
  }

}

/* HERO */

video#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("/img/blank.jpg") no-repeat;
  background-size: cover;
}

.hero {
  background: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 1)
    );
  height: 100vh;

  &__text-box {
    padding: 6rem;
    @media only screen and (max-width: 700px) {
      padding: 6rem 2.2em;
    }
  }

  &__title {
    font-size: $fs-h1;
    font-family: $courier;
    font-weight: 300;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 9.1em;
    border-right: .3rem solid $white;
    color: $white;
    margin: 0 auto;
    
    animation: 
      typing 1.5s steps(22, end),
      blink .75s step-end infinite alternate;
      
    @media only screen and (max-width: 930px) {
      font-size: 4rem;
    }
    @media only screen and (max-width: 800px) {
      font-size: 3rem;
    }
    @media only screen and (max-width: 450px) {
      font-size: 2.1rem;
    }
  }

  &__subtitle {
    color: $white;
  
    font-weight: 300;
    line-height: 1.5em;
    animation: moveInBottom 2.2s ease-out;

    @media only screen and (max-width: 700px) {
      font-size: 1rem;
    }
  }
}

.main-nav {
  &__link-box {
    z-index: 1;
    display: flex;  
    justify-content: space-evenly;
    position: fixed;
    padding: .7rem;
    right: 0;
    list-style: none;
    width: 100vw;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
  }

  &__link {
    font-size: 1rem;
    
    &:link,
    &:visited {
      color: $yellow;
      border-bottom: 2px dotted transparent;
      transition: border-bottom 0.3s;
  }
    &:hover,
    &:active {
      border-bottom: 2px solid $white;
    }
  }
}

/* ABOUT */

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 1rem;
  align-items: center;

  &__text {
    color: $white;
    display: inline-block;
    margin-bottom: 2rem;
    width: 30rem;
    line-height: 1.5em;
  }
  
  &__picture {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    margin: 1rem 2rem;
    }
}

/* SKILLS */
.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem; 

  @media only screen and (max-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }

  &__item {
    text-align: center;
  }

  &__icon{
    margin-bottom: 1rem;
  }

  &__name {
    color: $white;
  }

  .fa-js {
    color: #f0db4f;
  }
  
  .fa-react {
    color: #61dbfb;
  }
  
  .fa-gem {
    color: #b02b2c;
  }
  
  .fa-bootstrap {
    color: #553c7b;
  }
  
  .fa-html5 {
    color: #e34f26;
  }
  
  .fa-css3 {
    color: #264de4;
  }
}

/* PROJECTS */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    background-color: $primary-light;
    width: 22rem;
    padding: 1.4rem;
    margin: 1rem;
    box-shadow: 0 .3rem $yellow;
    border-radius: 1rem;

  &__heading {
    margin-bottom: .5rem;
  }

  &__desc {
    margin-top: .7rem;
  }

  &__tech-heading {
    text-align: center;
    margin-top: 1.5rem;
  }

  &__tech-desc {
    text-align: left;
  }
  
  &__icons {
    margin-top: 1.5rem;
    display: flex;
    text-align: center;
  }

  &__icons-link {
    display: flex;
    flex-direction: column;
    color: $yellow;
    margin: 0 1rem;

    &:link,
    &:visited {
      backface-visibility: hidden;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $white;
      transform: translateY(4px);
      
    }
  }
}

/* CONNECT */

.connect {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $yellow;
    margin: 1rem;

    &:link,
    &:visited {
      backface-visibility: hidden;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $white;
      transform: translateY(4px);
    }
  }
}

/* FOOTER */

footer {
  background-color: $yellow;
  color: #222831;
  text-align: center;
  padding: .3rem;
}

/* INTERSECTION OBSERVER TRANSITIONS */

.from-left {
  opacity: 0;
  transform: translateX(-30%);
  transition: all 550ms ease-in;

  &.appear {
    transform: translateX(0);
    opacity: 1;
  }
}

.from-right {
  opacity: 0;
  transform: translateX(30%);
  transition: all 550ms ease-in;

  &.appear {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 200ms ease-in;

  &.appear {
    opacity: 1;
  }
}

/* ANIMATIONS */

@keyframes typing { 
  from { width: 0; } 
}

@keyframes blink { 
  50% { border-color: transparent; } 
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  75% {
    opacity: 0.2;
  }

  100% {
    opacity: 100;
    transform: translate(0);
  }
}
