* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  background-image: linear-gradient(#393e46, #222831);
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

/* REUSABLE */

section {
  padding: 80px 0;
}

.flex {
  display: flex;
}

.wrap-evenly {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

hr {
  display: block;
  width: 80px;
  margin: 0 auto;
  color: #393e46;
  border: dotted 8px;
  border-bottom: none;
}

i {
  font-size: 4em;
  color: #ffd369;
}

/* HEADINGS */

h1 {
  color: #eee;
  font-size: 3em;
  font-family: 'Merriweather', 'Arial', 'sans-serif';
  animation: moveInRight 1s ease-out;
}

h2 {
  font-size: 1.5em;
  animation: moveInBottom 1.5s ease-out;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

/* HEADER */

header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 1)
    ),
    url('img/flyingtoasters.gif');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  height: 100vh;
}

.main-nav {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  padding: 12px 4%;
  right: 0;
  justify-content: space-evenly;
  list-style: none;
  width: 100vw;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.main-nav li {
  margin: 0 15px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #ffd369;
  text-decoration: none;
  border-bottom: 2px dotted transparent;
  transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #eee;
}

.hero-text-box {
  padding: 80px 10%;
}

.hero-text-box h1,
.hero-text-box h2 {
  color: #eee;
  line-height: 1.5em;
}

/* ABOUT */

.about div {
  padding: 0 10px;
  align-items: center;
}

.about p {
  color: #eee;
  display: inline-block;
  margin-bottom: 30px;
  width: 500px;
  line-height: 1.5em;
}

.about img {
  height: 50vh;
}

/* SKILLS */

.icon-item {
  margin: 10px;
  text-align: center;
}

.icon-item p {
  color: #eee;
  margin-top: 5px;
}

/* PROJECTS */

.project-item {
  background-color: #393e46;
  padding: 25px 25px;
  margin: 25px;
  box-shadow: 0px 5px #ffd369;
  border-radius: 3%;
}

.project-item h2 {
  color: #eee;
  text-align: center;
  margin-bottom: 5px;
}

.project-item h3 {
  color: #eee;
  text-align: center;
  margin-top: 12px;
}

.project-item p {
  color: #eee;
  margin: 5px auto;
  width: 300px;
}

.project-item img {
  width: 300px;
}

.project-item h3 + p {
  text-align: center;
}

.project-icons {
  margin-top: 15px;
  text-align: center;
}

.project-icons a {
  margin: 0 10px;
}

.project-icons a i:hover,
.project-icons a i:active {
  color: #eee;
}

.fa-js {
  color: #f0db4f;
}

.fa-react {
  color: #61dbfb;
}

.fa-gem {
  color: #b02b2c;
}

.fa-bootstrap {
  color: #553c7b;
}

.fa-html5 {
  color: #e34f26;
}

.fa-css3 {
  color: #264de4;
}

/* CONTACT */

.contact a {
  margin: 10px;
}

.contact a:link,
.contact a:visited {
  backface-visibility: hidden;
  transition: all 0.2s;
}

.contact a:hover,
.contact a:active {
  transform: translateY(4px);
}

/* FOOTER */

footer {
  background-color: #ffd369;
  color: #222831;
  text-align: center;
}

/* ANIMATION */

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  75% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  75% {
    opacity: 0.2;
  }

  100% {
    opacity: 100;
    transform: translate(0);
  }
}
